<!doctype html> 
<html lang="en"> 
<head> 
    <title>Poggers</title>
    <meta charset="UTF-8" />
    <script src="script/phaser.js"></script>
</head>
<body>

<script src="script/main.js"></script>
</body>
</html>